{% extends "home.html" %}
{% load static %}

{% block title %}Список чатов{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/video_chat.css' %}">
{% endblock %}

{% block content %}
<body>
    {% csrf_token %}
    <div class="container">
        <div class="video-container">
            <h2>Локальное видео</h2>
            <video id="localVideo" autoplay playsinline muted></video>
        </div>
        <div class="video-container">
            <h2>Удаленное видео</h2>
            <video id="remoteVideo" autoplay playsinline></video>
        </div>
    </div>

    <div class="controls">
        <button id="startButton">Начать трансляцию</button>
        <button id="callButton" disabled>Позвонить</button>
        <button id="hangupButton" class="danger" disabled>Завершить</button>
    </div>
    {% block extra_js %}
    <script src="{% static 'js/video_chat.js' %}"></script>
    {% endblock %}
</body>
{% endblock %}}